{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Nova+Flat' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">Let's <span class="highlight-logo-text">Code</span> Django</span>
            <ul class="menu">
                <li {% if section == "post_list" %}class="selected"{% endif %}>
                    <a href="{% url 'blog:post_list' %}">Blog</a>
                </li>
                <li {% if section == "about" %}class="selected"{% endif %}>
                    <a href="{% url 'blog:about' %}">About</a>
                </li>
            </ul>

        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <a href="{% url 'blog:edit' %}">Edit profile</a> |
                <a href="{% url 'blog:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'blog:register' %}">Sign-up</a> |
                <a href="{% url 'blog:login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                        <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}{% endblock %}
    {% block sidebar %}{% endblock %}
</body>
</html>