{% extends "base.html" %}
{% load blog_tags %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About</h1>
        <p class="about">
            I am a self-taught programmer living in Reading, UK. I have been learning
            and using Python for over two years, and am currently work in telecommunications
            using Python, Django and a variety of other languages to support the platform.
        </p>
        <p>
            I previously worked in the biopharmaceutical industry but decided to follow my
            dream and get into programming. I set up this blog with the goal of documenting
            whtat I learnt and how I got into software development.
        </p>
{% endblock %}