{% extends "base.html" %}
{% load blog_tags %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div id='post-detail-container' class='container-fluid'>
        <div class='row'>
            <div class="col-sm-8 center-block">
                <div id="post-header" class="text-center">
                    <h1>{{ post.title }}</h1>
                    <h4>{{ post.description }}</h4>
                    <hr class="hr-style-2">
                    <h5 id="post-details">
                        <span class="glyphicon glyphicon-time"></span> Published by {{ post.author.first_name }} {{ post.author.last_name }}, {{ post.publish|date }}
                        <span class="glyphicon glyphicon-heart-empty stats"></span> {{ post.likes }}
                        <span class="glyphicon glyphicon-eye-open stats"></span> {{ post.views }}
                        {% for tag in post.tags.all %}
                            <span class="tags label label-primary">{{ tag.name }}</span>
                        {% endfor %}
                    </h5>
                </div>
                <div id="post-body">
                    <p>{{ post.body|markdown }}</p>
                    {% if previous_post or next_post %}
                        <ul class="pager">
                            {% if previous_post %}<li class="previous"><a class="hover-effect-previous" href="{{ previous_post.get_absolute_url }}"><span></span> {{ previous_post }}</a></li>{% endif %}
                            {% if next_post %}<li class="next"><a class="hover-effect-next" href="{{ next_post.get_absolute_url }}">{{ next_post }} <span></span></a></li>{% endif %}
                        </ul>
                    {% endif %}
                    <hr class="hr-style-2">
                </div>
                <div id="post-comments">
                    <div id="add-comment">
                        <h3>Leave a Comment:</h3>
                        <form id="comment-form" action="." method="post">
                            {% csrf_token %}
                            <div id="comment-name" class="col-sm-6 form-group">
                                {{ comment_form.name }}
                            </div>
                            <div id="comment-email" class="col-sm-6 form-group">
                                {{ comment_form.email }}
                            </div>
                            <div id="comment-body" class="col-sm-12 form-group">
                                {{ comment_form.body }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <br><br>
                    </div>
                </div>
                <div id="list-comments">
                    {% if comments %}
                        {% with comments.count as total_comments %}
                            <h4><span class="label label-primary">{{ total_comments }}</span> Comment{{ total_comments|pluralize }}</h4><br>
                        {% endwith %}
                    {% endif %}
                    {% for comment in comments %}
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <img src="{% static "images/duck-avatar.svg" %}" class="img-circle" height="65" width="65" alt="Avatar">
                            </div>
                            <div class="col-sm-10">
                                <h4>{{ comment.name }} <small>{{ comment.created }}</small></h4>
                                <p>{{ comment.body }}</p>
                                <br>
                            </div>
                        </div>
                    {% empty %}
                        <h4>There are currently no comments.</h4><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{#{% block content %}#}
{#    <div id="post-detail">#}
{#        <div id="post-content">#}
{#            <h1>{{ post.title }}</h1>#}
{#            <p class="date">#}
{#                Published {{ post.publish }} by {{ post.author }}#}
{#            </p>#}
{#            {{ post.body|markdown }}#}
{#            <p>#}
{#                <a href="{% url 'blog:post_share' post.id %}">#}
{#                    Share this post#}
{#                </a>#}
{#            </p>#}
{#        </div>#}
{#        <div id="similar-posts">#}
{#            <h2>Similar posts</h2>#}
{#            {% for post in similar_posts %}#}
{#                <p>#}
{#                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>#}
{#                </p>#}
{#            {% empty %}#}
{#                There are no similar posts yet.#}
{#            {% endfor %}#}
{#        </div>#}
{#        <div id="post-comments">#}
{#            {% with comments.count as total_comments %}#}
{#                <h2>#}
{#                    {{ total_comments }} comment{{ total_comments|pluralize }}#}
{#                </h2>#}
{#            {% endwith %}#}
{#            {% for comment in comments %}#}
{#                <div class="comment">#}
{#                    <p class="info">#}
{#                        Comment {{ forloop.counter }} by {{ comment.name }} |#}
{#                        {{ comment.created }}#}
{#                    </p>#}
{#                    {{ comment.body|linebreaks }}#}
{#                </div>#}
{#            {% empty %}#}
{#                <p>There are no commments yet.</p>#}
{#            {% endfor %}#}
{#            {% if new_comment %}#}
{#            <h2>Your comment has been added.</h2>#}
{#            {% else %}#}
{#            <h2>Add a new comment</h2>#}
{#            <form action="." method="post">#}
{#                {{ comment_form.as_p }}#}
{#                {% csrf_token %}#}
{#                <p><input type="submit" value="Add commment"></p>#}
{#            </form>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}