{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}Let's Code Django | Blog{% endblock %}

{% block content %}
    <div id='post_list_container' class='container-fluid'>
        <div class='row'>
            <div class="col-sm-3">
                {% include 'blog/post/sidenav.html' %}
            </div>

            <div class="col-sm-9">
                <h4>
                    <small>RECENT POSTS</small>
                </h4>
                {% for post in posts %}
                    <hr>
                    <h2>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </h2>
                    <h5>
                        <span class="glyphicon glyphicon-time"></span> Published by {{ post.author.first_name }} {{ post.author.last_name }}, {{ post.publish|date }}
                    </h5>
                    <h5>
                        {% for tag in post.tags.all %}
                            <a class="label label-primary" href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                        {% endfor %}
                    </h5>
                    <br>
                    <p>{{ post.body|markdown|truncatewords_html:60 }}</p>
                    <br>
                    <div class="btn btn-primary"><span class="glyphicon glyphicon-heart-empty"></span> Likes <span class="badge">{{ post.likes }}</span></div>
                    <div class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Views <span class="badge">{{ post.views }}</span></div>
                    <div class="btn btn-primary"><span class="glyphicon glyphicon-comment"></span> Comments <span class="badge">{{ post.comments.count }}</span></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{#{% block content %}#}
{#    <div id="content">#}
{#        {% if tag %}#}
{#            <h2>Posts tagged with "{{ tag.name }}"</h2>#}
{#        {% endif %}#}
{#        {% for post in posts %}#}
{#            <h2>#}
{#                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>#}
{#            </h2>#}
{#            <p class="tags">#}
{#                Tags:#}
{#                {% for tag in post.tags.all %}#}
{#                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">#}
{#                        {{ tag.name }}#}
{#                    </a>#}
{#                    {% if not forloop.last %}, {% endif %}#}
{#                {% endfor %}#}
{#            </p>#}
{#            <p class="date">#}
{#                Published {{ post.publish }} by {{ post.author }}#}
{#            </p>#}
{#            {{ post.body|markdown|truncatewords_html:30 }}#}
{#        {% endfor %}#}
{#        {% include "blog/pagination.html" with page=posts %}#}
{#    </div>#}
{#{% endblock %}#}