@import url(http://fonts.googleapis.com/css?family=Muli);

body {
    font-family: helvetica, sans-serif;
    background-color: rgb(250,245,250);
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    color: #2F4F4F;
}

a {
    color: #FF6347;
    text-decoration: none;
}

a:hover {
    color: #FF2B06 !important;
    text-decoration: none;
}

#post_detail_container .form-group {
    padding: 0;
}

.label-primary, .btn-primary {
    background-color: #2F4F4F;
    border-color: #2F4F4F;
}

.label-primary:hover, .btn-primary:hover {
    color: #FFFFFF !important;
    background-color: #213838 !important;
    border-color: #213838 !important;
}

.badge {
    color: #2F4F4F !important;
}

/*Navigation Bar Styling*/

#navigation_container {
    background: #CFE2E2;
    padding: 10px 0;
    border-bottom: 2px solid #FF6347;
}

#navigation_container .navbar-brand {
    font-family: 'Nova Flat', cursive;
    font-size: 2.5em;
    word-spacing: -4px;
    color:#2F4F4F !important;
}

#navigation_container .navbar-brand .highlight {
    color: #FF6347;
}

#navigation_container .nav a {
    color:#2F4F4F;
    letter-spacing: 2px;
}


/*Content Styling*/

#content_container{
    margin-top: 70px;
}

/*p {*/
    /*line-height: 1.8;*/
/*}*/



/*#content {*/
    /*float:left;*/
    /*width:60%;*/
    /*padding:0 0 0 30px;*/
/*}*/

/*#post-detail {*/
    /*margin: auto;*/
    /*width: 70%;*/
    /*text-align: left;*/
/*}*/

/*#post-detail h1 {*/
    /*text-align: center;*/
/*}*/

/*#sidebar { */
    /*float:right;*/
    /*width:30%;*/
    /*padding:10px;*/
    /*background:rgb(235,235,235);*/
    /*height:100%;*/
/*}*/

/*p.date { */
    /*color:#ccc;*/
    /*font-family: georgia, serif;*/
    /*font-size: 12px;*/
    /*font-style: italic;*/
/*}*/

/*#post-detail p.date {*/
    /*text-align: center;*/
/*}*/

/*#similar-posts h2 {*/
    /*border-top:1px solid #bbb;*/
    /*padding-top: 10px;*/
/*}*/

/*.nav-link {*/
    /*width:160px;*/
/*}*/

/*!* forms *!*/
/*form {*/
    /*overflow:auto;*/
/*}*/

/*form p {*/
    /*width:100%;*/
    /*overflow:auto;*/
/*}*/

/*label {*/
    /*float:left;*/
    /*clear:both;*/
    /*color:#333;*/
    /*margin-bottom:4px;*/
/*}*/
/*input, textarea {*/
    /*clear:both;*/
    /*float:left;*/
    /*margin:0 0 10px;*/
    /*background:#efefef;*/
    /*border:0;*/
    /*padding:6px 10px;*/
    /*font-size:14px;*/
/*}*/
/*input[type=submit], a.button {*/
    /*font-weight:bold;*/
    /*background:#2F4F4F;*/
    /*color:#FFFFFF;*/
    /*padding:10px 20px;*/
    /*font-size:14px;*/
    /*text-transform:uppercase;*/
/*}*/
/*.errorlist {*/
    /*color:#cc0033;*/
    /*float:left;*/
    /*clear:both;*/
    /*padding-left:10px;*/
/*}*/
/*.helptext {*/
    /*margin:0 0 20px 0;*/
    /*color:#aaa;*/
    /*clear:both;*/
    /*float:left;*/
    /*font-size:13px;*/
/*}*/
/*!* messages *!*/
/*ul.messages {*/
    /*margin:10px 100px;*/
    /*padding:0;*/
    /*list-style-type:*/
    /*none;*/
/*}*/
/*ul.messages li.success,*/
/*ul.messages li.warning,*/
/*ul.messages li.error,*/
/*ul.messages li.info {*/
    /*margin:0;*/
    /*padding:14px 20px;*/
    /*list-style:none;*/
    /*color:#fff;*/
/*}*/

/*ul.messages li.success { background:#81ce81; }*/
/*ul.messages li.success a { color:#0ac33e; }*/

/*ul.messages li.error { background:#a30029; color:#e9828e; }*/
/*ul.messages li.error a { color:#e9828e; }*/

/*ul.messages li.info { background:#faffae; color:#696b4e; }*/
/*ul.messages li.info a { color:#1586de; }*/

/*ul.messages li.warning { background:#de9404; }*/
/*ul.messages li.warning a { color:#f49000; }*/

/*ul.messages li a.close {*/
    /*margin:0;*/
    /*float:right;*/
    /*opacity:1;*/
    /*border:0;*/
    /*box-shadow:none;*/
    /*text-shadow:none;*/
/*}*/

/*.login-form {*/
    /*float:left;*/
/*}*/

/*!* comments *!*/
/*.comment {*/
    /*padding:10px;*/
/*}*/
/*.comment:nth-child(even) {*/
    /*background:#efefef;*/
/*}*/
/*.comment .info {*/
    /*font-weight:bold;*/
    /*font-size:12px;*/
    /*color:#666;*/
/*}*/

/*!* pagination *!*/
/*.pagination {*/
    /*margin:40px 0;*/
    /*font-weight:bold;*/
/*}*/