@import url(http://fonts.googleapis.com/css?family=Muli);


/*HTML Styling*/

html {
    overflow-y: scroll;
}

body {
    font-family: helvetica, sans-serif;
    background-color: #D6D6D6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    color: #333333;
}

a {
    color: #44CE18;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    outline: none;
}

a:hover,
a:focus {
    color: #38A413 !important;
    text-decoration: none;
}

hr.hr-style-1 {
    height: 12px;
    border: 0;
    box-shadow: inset 0 10px 6px -12px #333333;
}

hr.hr-style-2 {
    border: 0;
    height: 1px;
    background: #333333;
    background-image: linear-gradient(to right, #ccc, #333333, #ccc);
}

kbd {
    display: block;
    margin: 20px 0;
    padding: 5px 10px;
}

kbd:not(.virtualenv)::before {
    content: "$  ";
}

kbd.virtualenv-example::before {
    content: "";
}

kbd.virtualenv::before,
span.virtualenv::before {
    content: "(env) $  "
}

kbd .highlight {
    color: #44CE18;
}

code {
    padding: 5px;
    color: #44CE18;
}

pre {
    display: block;
    font-size: 1.1em;
    margin: 20px 0;
    padding: 5px 10px;
}

mark {
    color: #333333;
}

.codehilitetable .linenos pre {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.codehilitetable .code pre {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

/*Generic Styling*/

.center-block {
    float: none;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.btn:hover,
.btn:focus {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.pager .next a,
.pager .previous a {
    background-color: #D6D6D6;
    color: #44CE18;
    font-size: 1.2em;
    border-color: #D6D6D6;
    border-radius: 4px;
}

.pager .next a:hover,
.pager .previous a:hover {
    background-color: #D6D6D6;
}

.hover-effect-1 span {
    cursor: pointer;
    display: inline;
    position: relative;
    transition: 0.5s;
}

.hover-effect-1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    transition: 0.5s;
}

.hover-effect-1:hover span {
    padding-right: 25px;
}

.hover-effect-1:hover span:after {
    opacity: 1;
    right: 0;
}

.hover-effect-previous {
    padding-left: 0 !important;
}

.hover-effect-next {
    padding-right: 0 !important;
}

.hover-effect-next span {
    cursor: pointer;
    display: inline;
    position: relative;
    transition: 0.5s;
}

.hover-effect-next span:after {
    content: '\00bb';
    position: absolute;
    vertical-align: middle;
    opacity: 0;
    right: 0;
    transition: 0.5s;
}

.hover-effect-next:hover span {
    padding-right: 15px;
}

.hover-effect-next:hover span:after {
    opacity: 1;
    right: 0;
}

.hover-effect-previous span {
    cursor: pointer;
    display: inline;
    position: relative;
    transition: 0.5s;
}

.hover-effect-previous span:before {
    content: '\00ab';
    position: absolute;
    vertical-align: middle;
    opacity: 0;
    left: 0;
    transition: 0.5s;
}

.hover-effect-previous:hover span {
    padding-left: 15px;
}

.hover-effect-previous:hover span:before {
    opacity: 1;
    left: 0;
}

/* Bootstrap styling */

.label-primary, .btn-primary {
    background-color: #333333;
    border-color: #333333;
}

.label-primary:hover, .label-primary:focus,
.btn-primary:hover, .btn-primary:focus {
    color: #FFFFFF !important;
    background-color: #292929 !important;
    border-color: #292929 !important;
}

.badge {
    color: #333333 !important;
}

/* Change form control focus colour */
.form-control:focus, .form-control:hover {
    border-color: #44CE18;
    box-shadow:  0 0 4px 1px #44CE18;
}

.selected {
    color: #44CE18!important;
}

.gradient {
    background: #333333;
    background:-webkit-linear-gradient(top, #333333, #5C5C5C);
    background:-moz-linear-gradient(top, #333333, #5C5C5C);
    background:-o-linear-gradient(top, #333333, #5C5C5C);
    background:-ms-linear-gradient(top, #333333, #5C5C5C);
    background: linear-gradient(top, #333333, #5C5C5C)
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.modal-open[style] {
   padding-right: 0 !important;
}

/*Navigation Bar Styling*/

#navigation_container {
    padding: 10px 0;
    border-bottom: 2px solid #44CE18;
}

#navigation_container .navbar-brand {
    font-family: 'Nova Flat', cursive;
    font-variant: small-caps;
    font-size: 2.5em;
    word-spacing: -4px;
    color: #FFFFFF !important;
}

#navigation_container .navbar-brand .highlight {
    color: #44CE18;
}

#navigation_container .nav a {
    color: #FFFFFF;
    letter-spacing: 2px;
}

#navigation_container .nav a:hover,
#navigation_container .nav a:focus {
    color: #44CE18 !important;
}

/*Messages Styling*/
#messages-container .alert {
    position:fixed;
    top:-200px;
    left:30%;
    right:30%;
    z-index:100;
}

/*Content Styling*/

#content_container {
    margin-top: 80px;
}

/*Sidenav Styling*/

#sidenav-container {
    margin-top: 10px;
}

#sidenav-container #sidenav-social {
    margin-left: 0;
}

#sidenav-container #post-count {
    margin: 10px 0;
}

#sidenav-container .social-btn {
    padding: 0;
}

#sidenav-container .social-btn:hover {
    opacity: 0.7;
}

#sidenav-container .highlight {
    color: #44CE18;
}

#sidenav-container #latest-posts h3 {
    margin: 10px 0;
}

#sidenav-container .list-group-item {
    background-color: #333333;
    color: #FFFFFF;
}

#sidenav-container .list-group-item h4 {
    color: #FFFFFF;
}

#sidenav-container .list-group-item:hover h4,
#sidenav-container .list-group-item:focus h4,
#sidenav-container .list-group-item:hover p,
#sidenav-container .list-group-item:focus p {
    color: #44CE18;
}

/*List Styling*/

#post-list-container #recent-posts {
    margin-top: 20px;
}

#post-list-container #recent-posts h5 {
    font-variant: small-caps !important;
}

#post-list-container .stat-count {
    padding-right: 10px;
}

/*Detail Styling*/

#post-detail-container h2 {
    margin: 20px 0;
}

#post-detail-container #post-details {
    margin-bottom: 40px;
}

#post-detail-container #post-details .glyphicon,
#post-detail-container #post-details .label {
    margin: 5px 0;
}

#post-detail-container #post-details .label,
#post-detail-container #post-comments .label {
    vertical-align: 15%;
}

#post-detail-container #post-header .stats,
#post-detail-container #post-header .tags {
    margin-left: 5px;
}
#post-detail-container #post-header .label:hover,
#post-detail-container #post-header .label:focus {
    background-color: #333333 !important;
}

#post-detail-container #post-body p {
    font-size: 1.2em;
    line-height: 1.8;
}

#post-detail-container #post-like-share {
    font-size: 1.8em !important;
}

#post-detail-container #post-like-share .glyphicon {
    padding-right: 20px;
    color: #333333 !important;
}

#post-detail-container #post-like-share .glyphicon:hover {
    padding-right: 20px;
    color: #44CE18 !important;
}

#post-detail-container #add-comment h3 {
    margin: 20px 0;
}

#post-detail-container #add-comment #comment-name,
#post-detail-container #add-comment #comment-body {
    padding-left: 0;
}

#post-detail-container #add-comment #comment-email,
#post-detail-container #add-comment #comment-body {
    padding-right: 0;
}

#post-detail-container #list-comments h4 {
    margin-top: 0;
}

#post-detail-container .modal .modal-content {
    border: 2px solid #333333;
}

/* The next three stylings create the vertical alignment of the modal */
#post-detail-container .modal {
    text-align:center;
}

/* Fake psuedo element that allows vertical alignment */
#post-detail-container .modal:before {
    content: "";
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#post-detail-container .modal-dialog {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    text-align: left;
}

#post-detail-container .modal .modal-content .modal-header {
    border-bottom: 2px solid #333333;
}

#post-detail-container .modal .modal-content .modal-body {
    padding: 10px;
}

#post-detail-container .modal .media-body {
    vertical-align: middle;
}

#post-detail-container .modal li.media:not(:first-child) {
    margin: 0;
    padding: 10px 0;
}

#post-detail-container .modal li.media:first-child {
    padding-bottom: 10px;
}

#post-detail-container .modal li.media:last-child {
    padding: 10px 0 0;
}

#post-detail-container .modal .media-left a:hover {
    opacity: 0.7;
}

#post-detail-container .modal .media-body a {
    color: #333333;
}

#post-detail-container .modal .media-body a:hover {
    color: #44CE18 !important;
}