@import url(http://fonts.googleapis.com/css?family=Muli);


/*HTML Styling*/

body {
    font-family: helvetica, sans-serif;
    background-color: #F1F6F6;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    color: #2F4F4F;
}

a {
    color: #FF6347;
    text-decoration: none;
}

a:hover {
    color: #FF2B06 !important;
    text-decoration: none;
}

hr.hr-style-1 {
    height: 12px;
    border: 0;
    box-shadow: inset 0 10px 6px -12px #2F4F4F;
}

hr.hr-style-2 {
    border: 0;
    height: 1px;
    background: #2F4F4F;
    background-image: linear-gradient(to right, #ccc, #2F4F4F, #ccc);
}

kbd {
    display: block;
    margin: 20px 0;
    padding: 5px 10px;
}

kbd::before {
    content: "$  ";
}

kbd .highlight {
    color: #FF6347;
}

code {
    display: block;
    margin: 20px 0;
    padding: 5px 10px;
    background: #FFFFFF;
    color: #FF6347;
}

pre {
    display: block;
    margin: 20px 0;
    padding: 5px 10px;
}

.codehilitetable .linenos pre {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.codehilitetable .code pre {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

/*Generic Styling*/

.label-primary, .btn-primary {
    background-color: #2F4F4F;
    border-color: #2F4F4F;
}

.label-primary:hover, .btn-primary:hover {
    color: #FFFFFF !important;
    background-color: #213838 !important;
    border-color: #213838 !important;
}

.badge {
    color: #2F4F4F !important;
}

/* Change form control focus colour */
.form-control:focus, .form-control:hover {
    border-color: #FF6347;
    box-shadow:  0 0 6px 1px #FF6347;
}

/*Navigation Bar Styling*/

#navigation_container {
    background: #ecf4f4;
    padding: 10px 0;
    border-bottom: 2px solid #2F4F4F;
}

#navigation_container .navbar-brand {
    font-family: 'Nova Flat', cursive;
    font-variant: small-caps;
    font-size: 2.5em;
    word-spacing: -4px;
    color:#2F4F4F !important;
}

#navigation_container .navbar-brand .highlight {
    color: #FF6347;
}

#navigation_container .nav a {
    color:#2F4F4F;
    letter-spacing: 2px;
}

/*Content Styling*/

#content_container{
    margin-top: 70px;
}

/*Sidenav Styling*/

#sidenav-container .list-group h4 {
    color: #FF6347;
}

#sidenav-container .list-group-item:hover h4 {
    color: #FF2B06;
}

#sidenav-container .list-group-item:hover p {
    color: #213838;
}

/*List Styling*/

#post-list-container #recent-posts {
    margin-top: 20px;
}

#post-list-container #recent-posts h5 {
    font-variant: small-caps !important;
}

#post-list-container .stat-count {
    padding-right: 10px;
}

/*Detail Styling*/

#post-detail-container h2 {
    margin: 20px 0;
}

#post-detail-container #post-details .label,
#post-detail-container #post-comments .label {
    vertical-align: 15%;
}

#post-detail-container #post-header .stats,
#post-detail-container #post-header .tags {
    margin-left: 5px;
}
#post-detail-container #post-header .label:hover {
    background-color: #2F4F4F !important;
}

#post-detail-container #post-body p {
    font-size: 1.2em;
    line-height: 1.8;
}

#post-detail-container #add-comment h3 {
    margin: 20px 0;
}

#post-detail-container #add-comment #comment-name,
#post-detail-container #add-comment #comment-body {
    padding-left: 0;
}

#post-detail-container #add-comment #comment-email,
#post-detail-container #add-comment #comment-body {
    padding-right: 0;
}

#post-detail-container #list-comments h4 {
    margin-top: 0;
}